<div>
  <h1>Practice</h1>
  <div class = container>
  <form [formGroup]="userDetailsForm">
    <div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>User Name</mat-label>
          <input formControlName='username' matInput>
          <mat-error *ngIf="userDetailsForm.controls.username?.errors && userDetailsForm.controls.username?.touched">
            Please enter a valid username
          </mat-error>
        </mat-form-field>

      </div>
    </div>
    <div>
      <div >
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput >
          <mat-error *ngIf="userDetailsForm.controls.email?.errors && userDetailsForm.controls.email?.touched">
            Please enter a valid Email Address
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div >
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input formControlName="password" matInput  type="password">
          <mat-error *ngIf="userDetailsForm.controls.password?.errors && userDetailsForm.controls.password?.touched">
            Please enter a valid Password
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>
      <div >
        <mat-form-field class="example-full-width">
          <mat-label>Age</mat-label>
          <input formControlName="age" matInput >
          <mat-error *ngIf="userDetailsForm.controls.age?.errors && userDetailsForm.controls.age?.touched">
            Please enter a valid Age
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date">
            <input matEndDate placeholder="End date">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        
      </div>
    </div>
  </form>
</div>
<div>
  <div class="save-button">
    <button color="accent" mat-raised-button (click)="submit()">Save</button>
  </div>
</div>
</div>

